# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cache/
.vscode/
.idea/
cmake-build-debug/
build/
install/

extern/nn_runtime/onnxruntime-linux-*
package/ros2/CATKIN_IGNORE

# 不跟踪的目录
bridge_backups/
diagnostics/
__pycache__/
